rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{datosUsuarios}/{document=**}{
      allow read:if true;
      allow create: if request.resource.data.idemp is string &&
                       request.resource.data.usuario is string &&
                       request.resource.data.email is string;
      allow update: if true;
      allow delete: if false;
    }
    match /{Categories}/{document=**}{
      allow read:if true;
      allow create: if request.resource.data.CategoryID is int &&
                       request.resource.data.CategoryName is string &&
                       request.resource.data.Description is string &&
                       request.resource.data.urlImage is string;
      allow update: if true;
      allow delete: if false;
    }
    match /{OrderDetails}/{document=**}{
      allow read: if true;
      allow create: if request.resource.data.OrderID is int &&
                       request.resource.data.ProductID is int &&
                       request.resource.data.UnitPrice is float &&
                       request.resource.data.Quantity is float &&
                       request.resource.data.Discount is float;
      allow update: if false;
      allow delete: if false;                  
    }
  }
}